include CHANGELOG.md
include README.md
include LICENSE
include pyproject.toml
include redis_search_django/py.typed

recursive-include redis_search_django *

global-exclude __pycache__
global-exclude *.py[co]
